.chat {
    width: 500px;
    height: 600px;
    border: 7px solid rgb(139, 58, 220);
    filter: drop-shadow(
        5px 5px 300px rgb(139, 58, 220)
    );
    background-color: blanchedalmond;
    font-size: 30px;
    margin-top: 50px;
    border-radius: 20px;
}
.write {
    margin: 10px;
    font-size: 40px;
    color: rgb(139, 58, 220)
}

.wrapper {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    color: white;
    font-size: 21px;
    margin-top: 10px;
}
.button1 {
    margin-right: 40px;
    width: 120px;
    height: 50px;
    filter: drop-shadow(
        2px 2px 100px white
    );
    border-radius: 10px;
    background-color: rgb(139, 58, 220) ;
    font-size: 18px;
    color: black;
    align-items: center;
}
.button2 {
    width: 120px;
    height: 50px;
    filter: drop-shadow(
        2px 2px 100px white
    );
    border-radius: 10px;
    background-color: rgb(139, 58, 220) ;
    font-size: 18px;
    color: black;
    align-items: center;
}
.button {
    margin-top: 20px;
}
.input {
    width: 300px;
    margin: 15px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    border: none;
    background:rgb(139, 58, 220); ;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
}
.a {
    text-decoration: none;
    color:rgb(139, 58, 220) ;
    font-size: 20px;
}
.p {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

