.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 19px;
    margin-bottom: 50px;
    margin-top: 50px;
    font-family: sans-serif
}
.name {
    margin-bottom: 7px;
    filter: drop-shadow(
     0px 0px 40px white
    );
}
.team {
    filter: drop-shadow(
        0px 0px 40px white
       );
       margin-bottom: 15px;
       font-size: 25px;
}
